<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création d'un etudiant</title>
</head>
<body>
    <h3>Création d'un etudiant</h3>
    <form action="/add">
        <input type="text" name="nom" placeholder="Saisir le nom">
        <input type="text" name="prenom" placeholder="Saisir le prenom">
        <input type="text" name="adresse"placeholder="Saisir l'adresse">
        <br> <br>
        <input type="submit" value="Enregistrer">
    </form>
    
</body>
</html>